# All root-level directories are ignored by default (since every environment will have different
# requirements). To track/sync a directory or file, it must be explicitly whitelisted below.

/*/

!/User/
/User/*

!User/One Dark Remix Color Scheme/
User/One Dark Remix Color Scheme/*
!User/One Dark Remix Color Scheme/One Dark Remix Sublime.sublime-color-scheme
