# All root-level directories are ignored by default (since every environment will have different
# requirements). To track/sync a directory or file, it must be explicitly allowlisted below.

/*/

!/DocBlockr/

!/ES6 Tools/

!/JavaScriptES/

!/MarkdownEditing/
/MarkdownEditing/*
!/MarkdownEditing/*.sublime-syntax

!/QUnit Completions/

!/Sublime Tools/

!/User/
/User/*

!User/Completions/

!User/Macros/

!User/One Dark Remix Color Scheme/
User/One Dark Remix Color Scheme/*
!User/One Dark Remix Color Scheme/One Dark Remix Sublime.sublime-color-scheme

!User/Snippets/

!User/*.css
!User/*.sublime-color-scheme
!User/*.sublime-keymap

!/PackageDev/



# Ignore system files.

.DS_Store
